*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.star-background{
    position: fixed;
    width: 100%;
    height: 100%;
    background: black url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExc2xucGZyZ2M4OHowYmo3OTloNnNpeDI4cXVvYXd6aWwyaXBtdXIzMCZlcD12MV9naWZzX3NlYXJjaCZjdD1n/FlodpfQUBSp20/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;


}


body{
    height: 100vh;
    font-family: 'Segoe UI';
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}


.carousel {
    position: relative;
    width: 90vw;
    height: 80vh;
    perspective: 1000px;
}


.slides {
    height: 80%;
    display: flex;
    transition: transform 0.6s ease-in-out;
}


.slide-container {
    min-width: 100%;
    height: 120%;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.slide-box {
    background: white;
    border-radius: 25px;
    padding: 30px;
    width: 80%;
    height: 120%;
    box-shadow: 20px 20px 0 rgba(255, 255, 255, 0.08);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.6s ease, opacity 0,6s ease;
}


.slide-box p {
    color: white;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.5em;
}


.slide-box h2{
    font-size: 2em;
    margin-bottom: 20px;
    color: black;
}


.nav{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 4em;
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    z-index: 10;
    padding: 20px
}


.nav.prevBtn {left: 5px ;}
.nav.nextBtn {right: 5px;}


.dots{
    position: absolute;
    bottom: -15px;
    left: 40%;
    transform: translateY(-50%);
    display: flex;
    gap: 10px;
}


.dot{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #999;
    cursor: pointer;
    transition: background 0.3s;
}


.dot.active{
    background-color: white;
}

button {
    --primary-color: #645bff;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    font-weight: bold;
    margin: 0;
    z-index: 10;
    pointer-events: auto;
  }
 
  button .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
  button .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
 
  button .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
 
  button:hover {
    background-color: var(--hover-color);
  }
 
  button:hover .arrow {
    background: var(--secondary-color);
  }
 
  button:hover .arrow:before {
    right: 0;
  }

.polaroid {
    width: 260px;
    display: grid;
    place-content: center;
    height: 300px;
    box-shadow: 10px 10px 15px #111;
    margin-top: 20px;
}

.polaroid img {
    width: 200px;
    height: 250px;
    margin-top: 20px;
}

.polaroid p {
    margin-top: 10px;
    font-family: 24px;
    display: grid;
    place-content: center;
    font-family: 'Franklin Gothic Medium', cursive;
    color: #111;
}